<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Tourist Guide - Find og gem dine yndlings turistattraktioner.">
    <meta name="keywords" content="turisme, guide, attraktioner, rejser, sightseeing">
    <meta name="author" content="Tourist Guide Team">

    <title>Tourist Guide</title>


    <link rel="icon" th:href="@{/images/favicon.webp}" type="image/webp">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/images/favicon.webp">

    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>
<body>

<header>
    <nav>
        <ul>
            <li><a th:href="@{/}">
                <img id="logobillede" src="/images/favicon.webp" alt="Logobillede">
            </a></li>
            <li><a th:href="@{/attractions}">Se Attraktioner</a></li>
            <li><a th:href="@{/attractions/add}">Tilføj Attraktion</a></li>
        </ul>
    </nav>
</header>

<main>
    <h1>Liste over alle attraktioner</h1>

    <!-- Tabel med attraktioner -->
    <table class="attraction-table">
        <thead>
        <tr>
            <th>Navn</th>
            <th>By</th>
            <th>Beskrivelse</th>
            <th>Tags</th>
        </tr>
        </thead>
        <tbody th:each="attraction : ${attractionList}">
        <tr>
           <td th:text="${attraction.name}"></td>
            <td th:text="${attraction.getCity().getScreenName()}"></td>
            <td th:text="${attraction.getDescription()}"></td>
            <td>
                <a th:href="@{'/attractions/' + ${attraction.name} + '/tags'} " class="btn-link">Tags</a>
                <a th:href="@{'/attractions/' + ${attraction.name}}" class="btn-link">Mere</a>
            </td>
        </tr>
        </tbody>
    </table>
</main>



</body>

<footer>
    <p>&copy; <span th:text="${#dates.format(#dates.createNow(), 'yyyy')}">2025</span> Tourist Guide. Alle rettigheder forbeholdt.</p>
    <p><a th:href="@{/contact}">Kontakt os</a> | <a th:href="@{/about}">Om os</a></p>
    <p>Gruppe 2: <br> Andreas, <br>Gustavo, <br>Daniel, <br> Frederik.</p>
</footer>

</html>
