<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${attraction.getName} + ' tags'"></title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>


<body>
    <header>
        <nav>
            <ul>
                <li><a th:href="@{/}">
                    <img id="logobillede" src="/images/favicon.webp" alt="Logobillede">
                </a></li>
                <li><a th:href="@{/attractions}">Se Attraktioner</a></li>
                <li><a th:href="@{/attractions/add}">Tilføj Attraktion</a></li>
            </ul>
        </nav>
    </header>

    <main></main>
    <div class="card" style="width: 18rem;">
        <div class="card-header" th:text="${attraction.getName() + ' tags'}">
        </div>
        <ul class="list-group list-group-flush" th:each="tag : ${tagList}">
            <li class="list-group-item" th:text="${tagList.indexOf(tag)+1} + '. ' + ${tag}"></li>
        </ul>
    </div>

    </main>

    <footer>

    </footer>

</body>
</html>