<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${attraction.getName} + ' tags'"></title>
    <link rel="stylesheet" th:href="@{/css/styles.css?v=0.01}">

</head>


<body>
    <header>
        <nav>
            <ul>
                <li><a th:href="@{/}">
                    <img id="logobillede" src="/images/favicon.webp" alt="Logobillede">
                </a></li>
                <li><a th:href="@{/attractions}">Se Attraktioner</a></li>
                <li><a th:href="@{/attractions/add}">Tilføj Attraktion</a></li>
            </ul>
        </nav>
    </header>
    <main class="tags-main">
        <div class="tags-card" style="width: 18rem;">
            <div class="tags-card-header">
                <h2 th:text="${attraction.getName() + ' tags'}"></h2>
            </div>
            <div th:each="tag : ${tagList}">
                <p th:text="${tagList.indexOf(tag)+1} + '. ' + ${tag.screenName}"></p>
            </div>
        </div>





    </main>




</body>

<footer>
    <p>&copy; <span th:text="${#dates.format(#dates.createNow(), 'yyyy')}">2025</span> Tourist Guide. Alle rettigheder forbeholdt.</p>
    <p><a th:href="@{/contact}">Kontakt os</a> | <a th:href="@{/about}">Om os</a></p>
    <p>Gruppe 2: <br> Andreas, <br>Gustavo, <br>Daniel, <br> Frederik.</p>
</footer>
</html>